* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IM Fell DW Pica", serif;
}

body {
    height: 100vh;
}

.container-header {
    background-color: #fff0db;
    color: #5D291A;
}

.container-header img {
    width: 300px;
    position: relative;
    top: 100px;
    left: 72%;
}

.item1-header {
    position: relative;
    bottom: 180px;
    margin-left: 220px;
    font-size: 20px;
    max-width: 700px;
}

.judul {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 400;
}

.teks {
    margin-top: 30px;
    margin-bottom: 35px;
}

.tombol-header {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #965a05;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tombol-header:hover {
    background-color: #6d4103;
}

.container-section {
    overflow: hidden;
    visibility: hidden;
    color: #5D291A;
    font-size: 19px;
}

.open-container {
    visibility: visible;
    opacity: 1; 
    transform: translateX(0); 
}

.container1 {
    padding: 20px;
    background-color: #faf0e6;
}

.konten1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    max-width: 600px;
}

.judul1 {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

.teks1, .teks2, .teks3 {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0; 
    text-justify: inter-word;
}

.poin {
    margin-left: 30px;
}

.teks1:first-letter {
    font-size: 50px;
    padding-right: 8px;
}

.konten1-gambar {
    display: flex;
    justify-content: space-between; /* Menjaga jarak antar gambar */
    flex-wrap: wrap; /* Gambar akan membungkus ke baris baru saat diperlukan */
    padding: 10px;
}

.konten1-gambar img {
    width: 100%; /* Gambar akan menyesuaikan dengan kontainernya */
    max-width: 100%; /* Hindari gambar melebihi ukuran aslinya */
    height: auto; /* Pertahankan rasio aspek */
    margin: 10px; /* Jarak antar gambar */
}

.konten1-gambar .gambar1, .konten1-gambar .gambar2 {
    margin-top: 30px;
    flex: 1 1 30%; /* Gambar akan mengambil 30% dari lebar kontainer */
    max-width: 30%;
}

.konten1-gambar .gambar3 {
    flex: 1 1 30%; /* Gambar akan mengambil 30% dari lebar kontainer */
    max-width: 50%;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    background-color: #faf0e6;
    padding: 20px;
}

.konten2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.text-section {
    margin-left: 170px;
    flex: 1 1 70%;
    max-width: 600px;
}

.judul2, .judul2-2 {
    font-style: italic;
    font-size: 40px;
}

.judul2-2 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.teks2 {
    font-size: 24px;
    line-height: 1.5;
    color: #5D291A;
}

.image-section {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image-section img {
    max-width: 50%; /* Mengatur agar gambar tidak dibatasi oleh ukuran flexbox */
    width: 600px;
    height: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.container3 {
    display: flex;
    justify-content: flex-end;
    background-color: #faf0e6;
    padding: 20px;
}

.konten3 {
    display: flex;
    flex-direction: row-reverse; /* Mengubah arah tata letak sehingga teks berada di kanan dan gambar di kiri */
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.text-section1 {
    margin-right: 170px;
    flex: 1 1 70%;
    max-width: 600px;
}

.judul3, .judul3-3 {
    font-style: italic;
    font-size: 40px;
}

.judul3-3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.teks3 {
    font-size: 24px;
    line-height: 1.5;
    color: #5D291A;
}

.image-section1 {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.image-section1 img {
    max-width: 50%; /* Mengatur agar gambar tidak dibatasi oleh ukuran flexbox */
    width: 600px;
    height: auto;
    margin-top: 30px;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .container-header{
        height: 440px;
    }
    .item1-header {
        max-width: 70%; /* Membuat lebar maksimum menjadi 100% dari lebar kontainer */
        position: relative;
        bottom: -20px; /* Menyesuaikan posisi vertikal jika perlu */
        right: 0; /* Menyelaraskan posisi horizontal */
        margin: 0 auto; /* Mengatur margin otomatis agar pusat */
    }
    .judul {
        position: relative;
        right: 0; /* Menyelaraskan posisi horizontal */
        margin: 0 auto; /* Mengatur margin otomatis agar pusat */
        text-align: center; /* Menyelaraskan teks di tengah */
        margin-bottom: 20px;
    }
    .teks {
        max-width: 100%; /* Membuat lebar maksimum menjadi 100% dari lebar kontainer */
        position: relative;
        top: 0; /* Menyesuaikan posisi vertikal jika perlu */
        right: 0; /* Menyelaraskan posisi horizontal */
        margin: 0 auto; /* Mengatur margin otomatis agar pusat */
        text-align: justify; /* Menyelaraskan teks dengan justify untuk layar kecil */
    }
    .container-header img{
        display: none;
    }
    .tombol-header {
        right: 0; /* Menghapus jarak horizontal pada layar kecil */
        bottom: 10px; /* Mengatur jarak dari bagian bawah kontainer jika diperlukan */
        margin-top: 20px; /* Menyesuaikan margin atas jika diperlukan */
        width: 100%; /* Memastikan tombol memanfaatkan lebar penuh kontainer */
        box-sizing: border-box; /* Memastikan padding dan border dihitung dalam lebar */
    }
    .teks1 {
        position: relative;
        left: 35px;
        max-width: 300px;
    }

    .teks1, .teks2, .teks2 {
        font-size: 21px;
    }
    .konten1-gambar {
        justify-content: center; 
    }
    .konten1-gambar .gambar1, .konten1-gambar .gambar2 {
        flex: 1 1 100%; 
        max-width: 50%; 
    }
    .konten1-gambar .gambar3 {
        flex: 1 1 100%; 
        max-width: 70%; 
    }
    .konten2, .konten3 {
        flex-direction: column; /* Berubah menjadi kolom pada layar kecil */
    }
    
    .text-section, .image-section, .text-section1, .image-section1 {
        width: 100%; /* Lebar penuh pada layar kecil */
        flex: 1 1 100%; /* Membuat elemen mengisi penuh lebar kontainer */
    }
    
    .text-section, .text-section1 {
        margin: 0; /* Menghapus margin jika ada pada layar kecil */
        margin-left: -15px;
    }
    
    .image-section img, .image-section1 img {
        margin-right: 50px;
        max-width: 80%; /* Pastikan gambar tetap responsif */
    }
}
